<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>a{text-decoration:none}</style>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
欢迎你 ：<input th:value="${admin.name}" style="border: none; outline: none"/><br><br><br><br>
<h2>人员信息维护</h2>
<table width="888" border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>操作</th>
    </tr>
    <tr th:each="user:${alist}">
        <td  align="center" th:text="${user.id}"></td>
        <td  align="center" th:text="${user.name}"></td>
        <td  align="center" th:text="${user.age}"></td>
        <td  align="center" th:text="${user.sex}"></td>
        <td  align="center"><a th:href="@{'/goupdate/'+${user.id}}">修改</a>
                              <a th:href="@{'/godel/'+${user.id}}">删除</a>
        </td>
    </tr>
    </thead>
</table>
<button><a href="/goadd">添加</a></button>
</body>
</html>