<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uu.mapper.AdminMapper">
    <select id="login" parameterType="com.uu.entity.Admin" resultType="com.uu.entity.Admin">
        select name,job FROM admin WHERE name = #{name} AND password = #{password}
    </select>

    <insert id="addAdmin" parameterType="com.uu.entity.Admin">
        INSERT INTO admin (name,password,job) VALUES (#{name},#{password},#{job});
    </insert>
</mapper>