<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
欢迎你 ：<input th:value="${uuEstHorrible.name}" style="border: none; outline: none"/><br><br><br><br>
<h2>人员信息维护</h2>

<div class="panelBar" th:fragment="uuHorrible2">

<div class="div_cls">
<table class="tablediv" id="myTable" border="1"> 
<thead class="thead_cls">
<tr>
<td class="wt40">111asdasdassd</td>
<td class="wt50">222asdsa</td>
<td class="wt40">111asdasdassd</td>
<td class="wt50">222asdsa</td>
<td class="wt40">111asdasdassd</td>
<td class="wt50">222asdsa</td>
<td class="wt40">111asdasdassd</td>
<td class="wt50">222asdsa</td>
</tr> 
</thead>
<tbody class="tbody_cls">
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
<tr>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
<td class="wt40">aaaaaaa23423d</td>
<td class="wt50">bbbbb23w23sd</td>
 </tr>
</tbody>
 </table>
</div>
</div>
</body>
</html>