<!DOCTYPE HTML>
<!-- 所有html页面添加头 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- 会员注册 -->
<form action="" th:action="@{~/uuUser/register}" method="post">
<div id='regist_container'>
    <div id="lab1">
        <span id="lab_login">会员注册</span>
        <span id="lab_toLogin">
            &emsp;已有账号&nbsp;
            <span id='toLogin' style="color: #EB9316;cursor: pointer;">立即登录</span>
        </span>
    </div>
    <div id="form_container2" style="padding-top: 25px;">
        
        <input type="text" class="form-control" value="admin"  placeholder="用户名" id="regist_account"/>
        <input type="password" class="form-control" placeholder="密码" id="regist_password1" />
        <input type="password" class="form-control" placeholder="确认密码" id="regist_password2" />
        <input type="text" class="form-control" placeholder="手机号" id="regist_phone" />
        <input type="text" class="form-control" placeholder="验证码" id="regist_vcode" />
        <!--<button id="getVCode" type="button" class="btn btn-success" >获取验证码</button>-->
        <input id="getVCode" type="button" class="btn btn-success" value="点击发送验证码" onclick="sendCode(this)" />

    </div>
    <input type="submit" value="注册" class="btn btn-success" id="regist_btn" />
</div>
</form>          

</body>
</html>
