<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <style>a{text-decoration:none}</style>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
	<form action="" th:action="@{~/fileUpload}" enctype="multipart/form-data" method="post">
		<label>upload photo</label>
		<input type="file" name="file"/>
		<input type="text" name="fileUploadPath" value="/computer_pic/"/>
		<input type="submit" value="Uu Submit">
     </form>
     <p>刚刚上传的图片</p>
     <img th:src="@{${filename}}" />
     <img src="D:/computer_pic/737b4331-b3dd-4452-b691-00ab028d5d69.JPG" width = "30%" height = "50%"/>
</body>
</html>